---
layout: default
title: 归档
---
<div id="archive">
    <h1 class="title">{{ page.title }}</h1>
    {% capture date_first %}{{ 'now' | date: '%Y-%m' }}{% endcapture %}
    <!-- 为当前月份显示归档标题 -->
    {% capture post_date_first %}{{ site.posts[0].date | date: '%Y-%m' }}{% endcapture %}
    {% if date_first == post_date_first %}
        <h3>{{ site.posts[0].date | date: '%Y-%m' }}</h3>
    {% endif %}
    <ul>
        {% for post in site.posts %}
            {% capture date_last %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
            <!-- 如果文章日期和 date_first 不同, 将文章日期赋值给 date_first, 另起 ul 进行渲染 -->
            {% if date_first != date_last %}
                {% assign date_first = date_last %}
    </ul>
    <h3>{{ date_last }}</h3>
    <ul>
            {% endif %}
        <li class="fn-clear"><span>{{ post.date |  date: '%Y-%m-%d' }} -- </span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
